# Ignore node_modules directory
node_modules/
/node_modules/
/node_modules
package-lock.json
node_modules

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore build output
/build/

# Ignore environment-specific files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
